[Desktop Entry]
Comment=Java Decompiler JD-CLI
Terminal=false
Name=JD-CLI
Exec=java -jar /opt/jd-cli/jd-cli.jar
Type=Application
Icon=jd-cli
MimeType=application/java;application/java-vm;application/java-archive
StartupWMClass=org-jd-cli-App
